.github-wordmark {
	max-height: 100%;
}

.slack-button{
	display: block;
	height:70px;
  	font-size: 21px;
	background: transparent url(../images/Slack_RGB.png) 0 0 no-repeat;
	background-size: cover;
	background-position: left top;
}

.gform-icon{
	display: block;
	height:200px;
  	font-size: 21px;
	background: transparent url(../images/gform.png);
	background-size: cover;
	background-position: left top;
}
.github-button{
	background: #3278CD url(../images/github-button.png) no-repeat;
	background-size: cover;
  	border: 15px;
  	border-radius: 10px;
  	border-color: white;
}

.table-headers{
	font-weight: 500;
}