.cold{
	background-color: blue;
}
.temperate{
	background-color: yellow;
}
.hot{
	background-color: red;
}


form{
	text-align: center;
	margin:auto;
	width:60%;
}

input{
	width:45%;
	font-size: 20pt;
}
.submit{
	margin: 10px;
}